* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #220b2b;
}

/* header y navbar*/


.promocional{
    background-color: #fc664f;
    justify-content: center;
    align-items: center;
    grid-area: prom;
}

header div p{
    font-variant: small-caps;
    font-style: italic;
    color: white;
}

.logo{
    grid-area: logo;
    justify-content: center;
    justify-items: center;

}

.mi__logo{
    width: 150px;
}

.navbar{
    width: 100%;
    list-style: none;
    grid-area: naveg;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.menu__hamb{
    width: 10px;
    display: none;
}

header nav ul{
    font-size: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

}

header nav ul li{
    font-size: 18px;
    font-weight: normal;
    display: flex;
    margin: 5%;

}

header nav ul li a{
    width: max-content;
    margin-left: auto;
    color: aliceblue;
    text-decoration: none;

}

.user{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    grid-area: user;
}

.icon__regis{
    width: 120px;
}

.login{
    width: 40px;
}

@media only screen and (min-width: 375px){
    #navegador{
        display: block;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.3fr;
        grid-template-rows: 40px 2fr;
        border: solid 4px white;
        row-gap: 20px;
        justify-content: space-evenly;
        grid-template-areas:

        "prom prom prom"
        "naveg logo user"
        ;
    }
    .promocional{
        display: block;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
    header div p{
        width: 350px;
        display: block;
        display: flex;
        justify-content: space-evenly;
        line-height: 13px;
    }

    .logo{
        display: block;
        border: solid 4px white;
    }

    .mi__logo{
        width: 80px;
    }

    .navbar{
        display: block;
        border: solid 4px white;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu__hamb{
        display: block;

    }

    header nav ul{
        display: none;
    }
}

@media only screen and (min-width: 1280px){
    #navegador{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 40px 2fr;
        row-gap: 25px;
        grid-template-areas:

        "prom prom prom"
        "logo naveg user"
        ;
    }

    .promocional{
        background-color: #fc664f;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: prom;
    }

    header div p{
        font-variant: small-caps;
        font-style: italic;
        color: white;
    }

    .logo{
        grid-area: logo;
        display: flex;
        justify-content: center;
        justify-items: center;

    }

    .mi__logo{
        width: 150px;
    }

    .navbar{
        width: 100%;
        list-style: none;
        grid-area: naveg;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    .menu__hamb{
        width: 10px;
        display: none;
    }

    header nav ul{
        font-size: 100%;
        display: flex;
        text-align: center;
        justify-content: center;

    }

    header nav ul li{
        font-size: 18px;
        font-weight: normal;
        display: flex;
        margin: 5%;

    }

    header nav ul li a{
        width: max-content;
        margin-left: auto;
        color: aliceblue;
        text-decoration: none;

    }

    .user{
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
        grid-area: user;
    }

    .icon__regis{
        width: 120px;
    }

    .login{
        width: 40px;
    }
}